{{!-- To-do-list view --}}

<div>
    {{!-- Displaying list title and body --}}
    <h1>{{this.title}}</h1>
    <p>{{this.body}}</p>

    {{!-- Delete button --}}
    <p>
        <form method="POST" action="/list/{{this._id}}?_method=DELETE">
        <button class="btn btn-primary" type="submit">Delete list</button></form>
    </p>
</div>