{{!-- New To-Do-List form --}}

<form action="/lists" method="POST" id="list">
    <fieldset>
        <input type="hidden" value="{{list._id}}" name="listId" id="listId">
        {{!-- Title --}}
        <div class="form-group">
            <label for="list-title">Task</label>
            <input class="form-control"
            id="list-title"
            type="text"
            name="title"
            placeholder="Task"/>
         </div>
        
        {{!-- Body --}}
        <div class="form-group">
            <label for="comment-content">To-do</label><br>
            <textarea class="form-control"
                id="list-body"
                name="body"
                rows="4"
                placeholder="Add a - for a new list!" /></textarea>
        </div>

        {{!-- Save list button --}}
        <div class="form-group">
            <button class="btn btn-light" type="submit" id="submit-button">Save list</button>
        </div>

    </fieldset>
</form>