<htm>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>To-Do-List</title>
    </head>

    <body>
        <div>
            {{>new-note-button}}
        </div>
        
        <div>
            {{body}}
        </div>
    </body>
</htm>