
<div>
    {{list.date}}
    {{list.title}}
</div>


<form method="POST" action="/list/{{list._id}}?_method=DELETE">
    <button class="btn btn-danger" type="submit" onclick="deleteList(this)" list-id='{{ this._id }}'>Delete List</button>
</form>


