<h1>Lists</h1>
<div>
    {{#unless list}}
        <h1>No lists, add something!</h1>
    {{/unless}}
</div>

{{#each list}}
    <div>
        {{this.title}}
        <ul>
            {{this.body}}
        </ul>
    </div>
{{/each}}
