<div id="container" class="container no-todos">
    <div class="left-side">
        <h1>Make a list</h1>
        <button id="add-button">Add</button>
    </div>
    <div class="middle-side">
        <h1>There are no lists</h1>
        <p>Click  add to make a todo</p>
    </div>
    <div id="right-side" class="right-side">
        <form>
            <p><input type="text" placeholder="todo name"></p>
            <p><textarea placeholder="todo description"></textarea></p>
        </form>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
    }

    .left-side, .right-side, .middle-side {
        padding: 4em;

    }

    .left-side {
        background-color: #333;
        color: #ddd;
        flex: 1;
    }

    .right-side {
        background-color: #ddd;
        color: #333;
        flex: 1;
    }

    .middle-side {
        display: none;
    }

    .no-todos .middle-side {
        display: block;
    }

    .no-todos .right-side {
        display: none;
    }
</style>

<script>
    const addButton = document.getElementById('add-button');
    const container = document.getElementById('container');

    addButton.onclick = (e) => {
        container.classList.toggle('no-todos');
        // classList.add(), .remove(), .contains()
    }
</script>



