<div class="container">
    <div class="left-side">
        <h1>Make a list</h1>
        <button id="add-button">Add</button>
    </div>
    <div id="right-side" class="right-side hidden">
        <form>
            <p><input type="text" placeholder="todo name"></p>
            <p><textarea placeholder="todo description"></textarea></p>
        </form>
    </div>
</div>

<style>
    .container {
        display: flex;
        flex-direction: row;
    }

    .left-side, .right-side {
        padding: 4em;

    }

    .left-side {
        background-color: #333;
        color: #ddd;
        flex: 1;
    }

    .right-side {
        background-color: #ddd;
        color: #333;
        flex: 1;
    }

    .hidden {
        display: none;
    }
</style>

<script>
    const addButton = document.getElementById('add-button');
    const rightSide = document.getElementById('right-side');
    addButton.onclick = (e) => {
        rightSide.classList.toggle('hidden');
        // classList.add(), .remove(), .contains()
    }
</script>